{% extends "base.html" %}
{% block contenido %}

<h2>Cuadraturas</h2>
<a href="/crear_cuadratura" class="btn btn-primary mb-3">Nueva Cuadratura</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Archivos</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Fecha Carga Archivo</th>
            <th>Acciones</th>
            
        </tr>
    </thead>
    <tbody>
        {% for c in cuadraturas %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre_archivo }}</td>
            <td>{{ c.estado }}</td>
            <td>{{ c.fecha_cuadratura.strftime('%d-%m-%Y %H:%M') }}</td>
            <td>{% if c.fecha_carga_archivo %}
                    {{ c.fecha_carga_archivo.strftime('%d-%m-%Y %H:%M') }}
                {% else %}
                    -
                {% endif %}

            </td>
            <td><a href="/editar_cuadratura/{{ c.id }}" class="btn btn-warning btn.sm">Editar</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}